* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}

html {
  font-size: 62.5%;
  overflow-x: hidden;
}

.container {
 
  white-space: nowrap;
  overflow: scroll;
}

.container > div {

  display: inline-block;
  margin: 10px;
}


.vertical-row {
 Float:left;
 height:100%;
 width:1px; /* edit this if you want */
 background-color: black;
}


.wrapper {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  display: flex;
  justify-content: space-between;
  pointer-events: none;
 
}

/* ---------------------------- MAIN ---------------------------- */
.main {
  background-color: #eff6ff;
  border-radius: 1rem;
  /* box-shadow: 0 0 1rem rgba(0, 0, 0, 0.18); */
  overflow-x: hidden;
  overflow-y: scroll;
  max-width: calc(100% - 1rem);
  height: calc(100vh - 7rem);
}

.main::-webkit-scrollbar {
  width: 8px;
}

.main::-webkit-scrollbar-track {
  background: transparent;
}

.main::-webkit-scrollbar-thumb {
  background: #a5d8ff !important;
  border-radius: 10px;
}
/* ----------------------------------------------------------------- */


/* ---------------------------- HOME ------------------------------- */
.home-main {
  background-color: #f8f9fa !important;
  padding: 1rem;
}

.dashboard-title {
  letter-spacing: 0.1rem;
  font-weight: 700;
  font-size: 30px;
  color: #495057;
  font-family: inherit;
  margin-bottom: 3rem;
}

.dashboard-title span {
  color: #868e96;
  font-size: 20px;
}

/* DASHBOARD GRID */
.dash-grid {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  /* grid-template-rows: repeat(2, 1fr); */
  column-gap: 2rem;
  row-gap: 2rem;
}
/* GRID END */

/* INFO BLOCK */
.dash-info {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 2rem;
  row-gap: 2.5rem;
}

.info-block {
  background-color: #007aec;
  padding: 2rem;
  padding-top: 2.2rem;
  padding-bottom: 3.5rem;
  color: #f8f9fa;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  
  
}

.total-block {
  align-items: left;
  grid-column: 1/-1;

  background: linear-gradient(
    to right bottom,
    #29323c 0%,
    #485563 100%
  );
   
}

.total-block h4 {
  font-size: 1.8rem !important;
}

.total-block .count {
  font-size: 4rem !important;
}

.total-block .percent {
  font-size: 2rem !important;
}

.crypto-block {
  background: linear-gradient(
    to right bottom,
    #09203f 0%,
   
    #09203f 100%
  );
  border-radius: 20px;
}

.coin{

	text-align: center;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  
}

.currency-block {
  background: linear-gradient(
    to right bottom,
    #29323c 0%,
   
    #485563 100%
  );
  border-radius: 20px;
  
}

.currency-block:hover {
  opacity: 0.8;
  transition: all 0.3s;
  
}

.info-block h4 {
  font-size: 1.4rem;
  font-weight: 300;
  margin-bottom: 2rem;
}

.info-block .count {
  font-size: 2.6rem;
  font-weight: 500;
}

.info-block .count span {
  font-size: 1.5rem;
  font-weight: 300;
}
/* BLOCK END */

/* PIE CHART */
.dash-lineChart {

  background-color: #fff;
  box-shadow: 0 0 1rem rgba(0, 0, 0, 0.1);
  border-radius: 15px !important;
}

.dash-lineChart p {
  padding: 1rem;
  font-size: 1.8rem;
  font-weight: 500;
}

#linechart {
  max-width: fit-content;
  height: fit-content;
  margin-bottom: 1.5rem;
}
/* PIE END */

/* COLUMN CHART */
.dash-columnChart {
  grid-column: 1/ -1;
  background-color: #fff;
  box-shadow: 0 0 1rem rgba(0, 0, 0, 0.1);
  border-radius: 15px !important;
}

.dash-columnChart p {
  padding: 1rem;
  font-size: 1.8rem;
  font-weight: 500;
}

#columnchart {
  max-width: fit-content;
  height: fit-content;
  margin-bottom: 1rem;
}
/* COLUMN END */
/* --------------------------------------------------------*/ ;



